<%- include("../../views/partials/admin/header") %>
<style>
 .col-md-3 {
   padding: 20px;
   border: 1px solid #ddd;
   border-radius: 10px;
   margin: 10px;
 }


 .error-message {
   color: red;
   margin-top: 5px;
 }


 .form-label {
   margin-bottom: 8px;
 }


 .form-control {
   width: 100%;
   padding: 8px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-sizing: border-box;
 }


 .d-grid {
   margin-top: 20px;
 }


 .btn-primary {
   background-color: #007bff;
   color: #fff;
   border: 1px solid #007bff;
   border-radius: 5px;
   padding: 10px 20px;
   cursor: pointer;
 }


 .btn-primary:hover {
   background-color: #0056b3;
   border-color: #0056b3;
 }
 </style>
<section class="content-main  " style="margin-left: 19%; padding-top: 5%;">
 <div class="content-header">
   <div>
     <h2 class="content-title card-title">Coupons</h2>
   </div>
 </div>
 <div class="card " >
  <button class="btn btn-primary col-md-2 m-3" > <a href="/admin/addCoupon" class="text-light">Add Coupon</a></button>
   <div class="card-body ">
     <div class="row"> 
       <div class="col-md-11 ml-105">
         <div class="table-responsive">
             <table class="table table-hover">
                 <thead>
                     <tr>
                         <th>Name</th>
                         <th>Created On</th>
                         <th>Expire On</th>
                         <th>Percentage  offer</th>   
                         <th>Flat/ Maximum discount</th>
                         <th>Minimum Purchase amount</th>
                         <th>Status</th>
                         <th>Change status</th>
                         <th>Edit/Delete</th>
                     </tr>
                 </thead>
                 <tbody>
                    <% if(coupons && coupons.length>0) {%>
                        <% coupons.forEach((coupon) => { %>
                     <tr>
                         <td class="text-start"><%= coupon.name %></td>
                         <% let sdate = new Date( coupon.createdOn )
                        const sformatedTime= `${String(sdate.getFullYear() ).padStart(2, '0')}-${String(sdate.getMonth() + 1).padStart(2, '0')}-${String(sdate.getDate()).padStart(2, '0')} `; %>
                         <td class="text-start"><%= sformatedTime %></td>
                         <% let edate = new Date( coupon.expireOn )
                        const eformatedTime= `${String(edate.getFullYear() ).padStart(2, '0')}-${String(edate.getMonth() + 1).padStart(2, '0')}-${String(edate.getDate()).padStart(2, '0')}`; %>
                         <% console.log(eformatedTime) %>
                         <td class="text-start"><%= eformatedTime %></td>
                         <td class="text-start"><%= coupon.percentageOffer %></td>
                         <td class="text-start"><%= coupon.offeredPrice %></td>
                         <td class="text-start"><%= coupon.minimumPrice %></td>
                         <% if(coupon.isListed) { %>
                         <td class="text-start text-success">Listed</td>
                         <%} else {%>
                          <td class="text-start text-danger">Unlisted</td>
                          <% } %>

                          <% if(coupon.isListed) { %>
                            <td class="text-start text-success"><button class="btn btn-danger" onclick="unListCoupon('<%=coupon._id%>')">Unlist</button></td>
                            <%} else {%>
                             <td class="text-start text-danger"><button class="btn btn-success" onclick="listCoupon('<%=coupon._id%>')">List</button></td>
                             <% } %>  
                         <td class="text-start">
                             <a href="/admin/editCoupon?id=<%=coupon._id%>" class="btn btn-primary btn-sm " >Edit</a>
                             <a href="#" class="btn btn-danger  btn-sm mt-1" onclick="confirmDelete('<%=coupon._id%>')" >Delete</i></a>
                         </td>
                     </tr>
                     <% }) %>
                     <% }else {%>
                      No coupon found.
                      <% } %>
                 </tbody>
             </table>
         </div>
     </div>
     </div>
   </div>
 </div>

  <!-- pagination -->
  <div class="container mt-3">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mb-20" style="margin-right: 200px;">
            <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= (i === currentPage) ? 'active' : '' %>">
                    <a class="page-link" href="?page=<%= i %>">
                        <%= i %>
                    </a>
                </li>
            <% } %>
        </ul>
    </nav>
</div>
</section>

<!-- script for performing the operations in the coupon page -->
<script>

//function for alert for comfirming delete
function confirmDelete(couponId) {
   Swal.fire({
     title: "Are you sure?",
     text: "You won't be able to revert this!",
     icon: "warning",
     showCancelButton: true,
     confirmButtonColor: "#d33",
     cancelButtonColor: "#3085d6",
     confirmButtonText: "Yes, delete it!",
   }).then((result) => {
     if (result.isConfirmed) {
       deleteCoupon(couponId);
     }
   });
 }

 //function for unlisting the coupon
 function unListCoupon(couponId) {
   Swal.fire({
     title: "Are you sure?",
     text: "Are you sure to unlist",
     icon: "warning",
     showCancelButton: true,
     confirmButtonColor: "#d33",
     cancelButtonColor: "#3085d6",
     confirmButtonText: "Yes",
   }).then((result) => {
     if (result.isConfirmed) {
      $.ajax({
         url: `/admin/unlistcoupon?id=${couponId}`,
         method: "GET",
         success: function (response) {
           if(response.success){
            Swal.fire({
             icon: "success",
             title: "Unlisted!",
             text: response.message,
             confirmButtonText: "OK",
           }).then(() => {
             window.location.reload();
           });
           }else{
            Swal.fire({
              icon: "error",
              title: "Error!",
              text: response.message,
              confirmButtonText: "OK",
            })
           }
         },
         error: function () {
           Swal.fire({
             icon: "error",
             title: "Error!",
             text: "Failed to unlist the coupon. Please try again.",
           });
         },
       });
      } 
   }) 
  }

  //function for listing the coupon
  function listCoupon(couponId) {
   Swal.fire({
     title: "Are you sure?",
     text: "Are you sure to list",
     icon: "warning",
     showCancelButton: true,
     confirmButtonColor: "#d33",
     cancelButtonColor: "#3085d6",
     confirmButtonText: "Yes",
   }).then((result) => {
     if (result.isConfirmed) {
      $.ajax({
         url: `/admin/listcoupon?id=${couponId}`,
         method: "GET",
         success: function (response) {
           if(response.success){
            Swal.fire({
             icon: "success",
             title: "Listed!",
             text: response.message,
             confirmButtonText: "OK",
           }).then(() => {
             window.location.reload();
           });
           }else{
            Swal.fire({
              icon: "error",
              title: "Error!",
              text: response.message,
              confirmButtonText: "OK",
            })
           }
         },
         error: function () {
           Swal.fire({
             icon: "error",
             title: "Error!",
             text: "Failed to list the coupon. Please try again.",
           });
         },
       });
      } 
   }) 
  }
  
 // function for deleting the coupon
 function deleteCoupon(couponId) {
   $.ajax({
     url: `/admin/deletecoupon?id=${couponId}`,
     method: "GET",
     success: function (response) {
       if(response.success){
        Swal.fire({
         icon: "success",
         title: "Deleted!",
         text: response.message,
         confirmButtonText: "OK",
       }).then(() => {
         window.location.reload();
       });
       }else{
        Swal.fire({
          icon: "error",
          title: "Error!",
          text: response.message,
          confirmButtonText: "OK",
        })
       }
     },
     error: function () {
       Swal.fire({
         icon: "error",
         title: "Error!",
         text: "Failed to delete the coupon. Please try again.",
       });
     },
   });
 }

</script>
<%- include("../../views/partials/admin/footer") %>
