<%- include("../../views/partials/admin/header") %>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
</head>

<section class="content-main" style="margin-left:21%; ">
    <header class="card-header text-center mb-20 ">
        <div class="content-header  ">
            <div class="">
                <h2 class="content-title card-title " >Stock Management</h2>
            </div>
        </div>
        <!-- seacrh bar -->
        <form id="searchForm" action="/admin/stock" method="get" class="d-inline">
            <div class="input-group input-group-sm border border-1 border-grey rounded-pill" style="width: 500px; margin-left: 230px;">
                <input type="text" id="searchInput" class="form-control border-0 rounded-pill" placeholder="Search products or brands" name="search">
                <button class="btn border-0" type="submit">Search</button>
            </div>
        </form>
    </header>
    <div class="right mt-5">
        <table class="table table-striped">
            <thead>     
                <tr>
                    <th scope="col"><b>Image</b></th>
                    <th scope="col"><b>Product name</b></th>
                    <th scope="col"><b>Brand</b></th>
                    <th scope="col"><b>Sale Count</b></th>
                    <th scope="col"><b>Sale Price</b></th>
                    <th scope="col"><b>Action</b></th>
                    <th scope="col"><b>Stock</b></th>
                </tr>
            </thead>
            <tbody>
                <% if(products.length !== 0) {%>
                <% for(let i=products.length-1;i>=0;i--) {%>
                <tr>
                    <td>
                        <img src="<%= products[i].productImage[0] %>" alt="#" width="75px" height="75px">
                    </td>
                    <td><%= products[i].productName %></td>
                    <td><%=products[i].brand %></td>
                    <td><%=products[i].saleCount %></td>
                    <td><%=products[i].salePrice  %></td>
                    <td>
                        <button class="btn btn-info" onclick="addQuantity('<%=products[i]._id%>')" >
                            <a href="#" class="text-white">Add quantity</a>
                        </button>  
                    </td>
                    <td><%=products[i].quantity %></td>
                    <td>
                </tr>
                <% } %>
                <% }else{ %>
                <tr>
                    <td colspan="7" class="text-center">No products found.</td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    </div>
    </div>
    <!-- pagination -->
    <div class="container mt-3">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center mb-20" style="margin-right: 200px;">
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <li class="page-item <%= (i === currentPage) ? 'active' : '' %>">
                        <a class="page-link" href="?page=<%= i %>">
                            <%= i %>
                        </a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- script for searach the product -->
<script>
    document.getElementById("searchForm").addEventListener("submit", function(event) {
        const searchValue = document.getElementById("searchInput").value.trim();
        if (searchValue) {
            this.action = `/admin/stock?search=${encodeURIComponent(searchValue)}`;
        } else {
            this.action = "/admin/stock";  
        }
    });
</script>

<!-- script for adding quantity-->
<script>
    //function for validating the quantity and perform ajax request
    async function  addQuantity(productId){
        const {value:amount}=await Swal.fire({
            title: "Enter quantity",
            input: "number",
            inputLabel: "nos",
            inputPlaceholder: "nos"           
        })
        if(amount<=0){
            Swal.fire("Invalid Quantity","Quantity should be greater than 0", 'error');
            return false;
        }
        $.ajax({
        url:"/admin/addQuantity",
            method:"post",
            data:{
                quantity:amount,
                productId:productId
            },
            success:(response)=>{               
                if(response.status===true){
                    location.reload();
                    Swal.fire('quantity added',"Stock updated successfully",'success');
                }else{
                    Swal.fire("Failed")
                }
            }
        })
    }

</script>

<%- include("../../views/partials/admin/footer") %>
