<%- include("../../views/partials/user/header") %>
    <style>
        .coupon-card {
            border: 2px solid #eaeaea;
            border-radius: 10px;
            padding: 15px;
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .coupon-name {
            font-size: 12px;
            font-weight: bold;
        }

        .use-button {
            background-color: #4caf50;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .use-button:hover {
            background-color: #45a049;
        }
    </style>
    <section>
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-md-12">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Products</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% if (product && Array.isArray(product) && product.length> 0) { %>
                                            <% for (let i=0; i < product.length; i++) { %>
                                                <tr>

                                                    <td class="image product-thumbnail"><img
                                                            src="/uploads/product-imagesResized/<%= product[i].image %>"
                                                            alt="#"></td>

                                                    <td>
                                                        <h5><a href="productDetails?id=<%= product[i].productId %>">
                                                                <%= product[i].name %>
                                                            </a></h5>
                                                    </td>
                                                    <td>
                                                        <%= product[i].quantity %>
                                                    </td>
                                                    <td>
                                                        <%= product[i].price*product[i].quantity %>
                                                    </td>
                                                    <td class="action" data-title="Remove" onclick="return false">
                                                        <button class="btn btn-sm" type="button"
                                                            onclick="return confirmRemove('<%= product[i].productId %>')">
                                                            <i class="fi-rs-trash"></i>
                                                            </a>
                                                    </td>
                                                </tr>
                                                <% } %>
                                                    <% } else { %>
                                                        <tr>
                                                            <td colspan="4">No products found</td>
                                                        </tr>
                                                        <% } %>
                                    </tbody>
                                    <% let totalAmount=0; %>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="col-8">
                        <div class="row align-items-start mt-10 ml-190">
                            <% if (locals.userAddress) { %>
                                <% userAddress.address.forEach((address)=> { %>
                                    <div class="col-lg-6">
                                        <div class="card">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio"
                                                    id="addressRadio<%= address._id %>" name="selectedAddress"
                                                    value="<%= address._id %>">
                                                <label class="form-check-label"
                                                    for="addressRadio<%= address._id %>">Select Address</label>
                                            </div>

                                            <div class="card-header">
                                                <h5 class="mb-0">
                                                    <%= address.addressType %>
                                                </h5>
                                            </div>
                                            <div class="card-body">
                                                <address>
                                                    <%= address.name %><br />
                                                        <%= address.city %>,<br />
                                                            <%= address.landMark %> <br />
                                                                <%= address.state %>
                                                </address>
                                                <p>
                                                    <%= address.pincode %>
                                                </p>
                                                <p>
                                                    <%= address.phone %>
                                                </p>
                                                <p>
                                                    <%= address.altPhone %>
                                                </p>
                                                <div class="d-flex justify-content-between">
                                                    <a href="/editAddress?id=<%= address._id %>"
                                                        class="btn-small">Edit</a>
                                                    <a href="/deleteAddress?id=<%= address._id %>" class="btn-small"
                                                        onclick="return confirm('Are you sure you want to delete this address?')">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                        <% } else { %>
                                            <div class="col-lg-6 mb-3">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="mb-0"></h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <address>
                                                            No address
                                                        </address>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                                <div class="col-lg-6 mb-3">
                                                    <a href="/addAddress">
                                                        <button class="btn btn-primary w-100">Add address</button>
                                                    </a>
                                                </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <!-- <div class="input-group mb-1 col-2" style="border: 1px solid #ced4da; border-radius: 5px; width: 300px; margin-left: 200px; margin-top: 10px;">
                            <input type="text" class="form-control" id="inputCoupon" placeholder="Paste Coupon Name">
                            <div class="input-group-append">
                                <button class="btn btn-primary" id="applyButton" type="button" onclick="applyCoupon('<%=grandTotal%>')">Apply</button>

                            </div>
                        </div> -->
                    </div>
                    <div>

                            <div class="mb-25 ml-150 pt-10">
                                <h5>Available Coupons</h5>
                            </div>

                            <ul>
                                <% if (Coupon) { %>
                                   
                                  
                                    <% Coupon.forEach((item)=>{ %>
                                        <li>
                                            <div class="coupon-card col-4" style="margin-left: 150px;">
                                                <div class="coupon-details">
                                                    <span class="coupon-name">
                                                        <%= item.name %>
                                                    </span><br>
                                                </div>
                                               
                                                
                                                <% if((item.userId).length>0) {%>
                                              <% item.userId.forEach(element => { %>
                                                
                                                <% if(element.toString()==(user._id).toString()){ %>
                                                    <button onclick="removeCoupon('<%= item.name %>',' <%= item._id %>')" id="useButton_<%= item.name %>" class="use-button" style="background-color: #e93838;;" >Remove</button>
                                                <% }else {%>
                                                    <!-- <button onclick="useCoupon('<%= item.name %>',' <%= item._id %>')" id="useButton_<%= item.name %>" class="use-button">Apply</button> -->

                                                    <% } %>
                                                
                                            <%  }); %>
                                            <% }else {%>
                                                <button onclick="useCoupon('<%= item.name %>',' <%= item._id %>','<%=grandTotal%>')" id="useButton_<%= item.name %>" class="use-button" style="background-color: #088178;">Apply</button>
                                                
                                                <% } %>
                                                <button onclick="cancelCoupon('<%= item.name %>')" id="cancelButton_<%= item.name %>" class="cancel-button btn-danger" style="display: none;">Cancel</button>
                                                <!-- <button onclick="cancelCoupon('<%= item.name %>')" id="cancelButton_<%= item.name %>" class="cancel-button btn-danger" >Cancel</button> -->
                                            </div>
                                        </li>
                                        
                                        <% }) %>
                                            <% }else{ %>

                                                <h5>No coupons available</h5>

                                                <% } %>
                            </ul>
                        </div>
                    <div class="payment_method">
                        <div class="mb-25 ml-150">
                            <h5>Payment</h5>
                        </div>
                        <div class="custome-radio ml-150">
                            <input class="form-check-input payment" type="radio" value="cod" name="payment_option"
                                id="CashOnDelivey" checked="">
                            <label class="form-check-label" for="CashOnDelivey" product-bs-toggle="collapse"
                                product-target="#CashOnDelivey" aria-controls="CashOnDelivey">Cash on
                                Delivery</label>
                        </div>

                        <div class="custome-radio ml-150">
                            <input class="form-check-input payment" required="" value="razorpay" type="radio"
                                name="payment_option" id="Razorpay" checked="">
                            <label class="form-check-label" for="Razorpay" data-bs-toggle="collapse"
                                data-target="#Razorpay" aria-controls="paypal">Razorpay</label>
                        </div>
                        <div class="custome-radio ml-150">
                            <input class="form-check-input payment" required="" value="wallet" type="radio"
                                name="payment_option" id="wallet" checked="">
                            <label class="form-check-label" for="wallet" data-bs-toggle="collapse" data-target="#wallet"
                                aria-controls="wallet">wallet</label>
                        </div>

                    </div>
                </div>

            </div>
            <div class="container col-6 mt-3">

                <% for (let i=0; i < product.length; i++) { %>
                    <% if (locals.isCart==="true" ) { %>
                        <% totalAmount +=product[i].price * product[i].quantity; %>
                            <% } else { %>
                                <% totalAmount +=product[i].price; %>
                                    <% } %>
                                        <% } %>
                                            <div class="ml-150">
                                                <table class="table mt-45">
                                                    <tbody>
                                                        <tr>
                                                            <th>Shipping</th>
                                                            <% if (grandTotal>1000) { %>
                                                                <td colspan="2"><em>Free Shipping</em></td>
                                                            <% } else { %>
                                                            <td colspan="2"><em>Shipping charge included</em></td>
                                                            <% } %>
                                                        </tr>
                                                        <!-- <tr>
                                                            <th>Total</th>
                                                            <td colspan="2" id="discount">
                                                                ₹<%= grandTotal %>
                                                            </td>
                                                        </tr> -->
                                                        <!-- <tr>
                                                            <th>Discount</th>
                                                            <td colspan="2" id="discount">
                                                                <% if (discount>0) { %>
                                                                    <%= discount %>
                                                                        <% }else{ %>
                                                                            0
                                                                            <% } %>
                                                            </td>
                                                        </tr> -->
                                                        <tr>
                                                            <th>Amount to pay </th>
                                                            <td colspan="2" class="product-subtotal">
                                                                <span class="font-xl text-brand fw-900"
                                                                    id="totalValue">₹<%= finalAmount %></span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <div class="ml-65">

                                                    <button type="button" class="btn"
                                                        onclick="placeOrder('<%= user._id %>','<%= discount %>')">Place Order</button>

                                                </div>

                                            </div>
            </div>
        </div>
        </div>
    </section>
    
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
   
    <script>



        function confirmRemove(productId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, remove it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = `/deleteItemCheckout?id=${productId}`;
                }
            })
        }
        
        async function placeOrder(userId, discount) {
            let address = $("input[name='selectedAddress']:checked").val();
            let payment = $("input[name='payment_option']:checked").val();

            const sum = document.getElementById("totalValue").textContent;
            const numericValue = parseInt(sum.replace(/[^\d.]/g, ''));
            console.log("checkout details",numericValue, payment, typeof(payment), payment.length);


            if (!payment) {
                Swal.fire({
                    title: 'NO PAYMENT FOUND!',
                    text: 'Please select your Payment.',
                    icon: 'error',
                    timer: 3000,
                });
            } else if (!address) {
                Swal.fire({
                    title: 'NO ADDRESS FOUND!',
                    text: 'Please select your address.',
                    icon: 'error',
                    timer: 3000,
                });
            }
                else if(payment === "cod" && numericValue > 1000){
                    Swal.fire({
                title: 'COD Not Allowed!',
                text: 'Orders above ₹1000 are not allowed for Cash on Delivery .',
                icon: 'error',
                timer: 3000,
            });
                }
            else {
                $.ajax({
                    url: '/orderPlaced',
                    method: 'POST',
                    data: {
                        totalPrice: numericValue,
                        createdOn: new Date().getTime(),
                        date: new Date(),
                        addressId: address,
                        payment: payment,
                        discount: discount
                    },
                    success: function (response) {
                        let orderId = response.order._id
                        if (response.method === "cod") {
                            Swal.fire({
                                title: "Order success",
                                text: "order placed successfully",
                                icon: "success",
                                showCancelButton: true,
                                confirmButtonText: "view orders",
                                cancelButtonText: "continue shopping",
                                reverseButtons: true
                            }).then(function (result) {
                                if (result.value) {
                                    let orderId = response.order._id
                                    location.href = `/orderDetails?id=${orderId}`;
                                } else if (result.dismiss === "cancel") {
                                    location.href = '/'
                                }
                            });

                        } else if (response.method === "wallet") {
                            if (response.payment === true) {
                                Swal.fire({
                                    title: "Order success",
                                    text: "order placed successfully",
                                    icon: "success",
                                    showCancelButton: true,
                                    confirmButtonText: "view orders",
                                    cancelButtonText: "continue shopping",
                                    reverseButtons: true
                                }).then(function (result) {
                                    if (result.value) {
                                        let orderId = response.order._id
                                        location.href = `/orderDetails?id=${orderId}`;
                                    } else if (result.dismiss === "cancel") {
                                        location.href = '/'
                                    }
                                });
                            } else {
                                Swal.fire({
                                    title: "Order failed",
                                    text: "Wallet amount is not enough",
                                    icon: "error",
                                    showConfirmButton: true,
                                }).then(function (result) {
                                    if (result.value) {
                                        location.href = '/';
                                    }
                                });
                            }

                        }
                        else if (response.method === "razorpay") {
                            console.log("response", response);
                            let orderAmount = response.order.finalAmount;
                           // console.log("final amount",response.order.finalAmount,orderAmount);
                            let order = response.orderId;
                            var options = {
                                "key": "rzp_test_2ntRCkhdtoc7jm",
                                "amount": orderAmount,
                                "currency": "INR",
                                "name": "GentzGallery",
                                "description": "Test Transaction",
                               //"image": "https://firebasestorage.googleapis.com/v0/b/ecommerce-397a7.appspot.com/o/logo.jpg?alt=media&token=07b6be19-1ce8-4797-a3a0-f0eaeaafedad",
                                "order_id": response.orderId,
                                // "handler": function (response, status) {
                                //     alert("paymentid",response.razorpay_payment_id);
                                //     alert("orderid",response.razorpay_order_id);
                                //     alert("signature",response.razorpay_signature)
                                //     alert("resposnse",response);  
                                //     verifyPayment(response.razorPayOrder, status, response.order._id);
                                // },
                                "handler": function (response){
                                    // alert(response.razorpay_payment_id);
                                    // alert(response.razorpay_order_id);
                                    // alert(response.razorpay_signature)
                                    verifyPayment(response,order);
                                },
                                "prefill": {
                                    "name": response.user.name,
                                    "email": response.user.email,
                                    "contact": response.user.phone
                                },

                                "theme": {
                                    "color": "#5CFF9A"
                                }
                            }
                            var rzp1 = new Razorpay(options);
                            rzp1.on('payment.failed', function (response){
                                Swal.fire({
                                     title: 'Payment Failed!'+ response.error.code,
                                     text: response.error.description,
                                     icon: 'error',
                                     timer: 5000,
                                     showConfirmButton: false
                                     });
                                     location.href='/cart';
                                })
                                    // alert(response.error.code);
                                    // alert(response.error.description);
                                    // alert(response.error.source);
                                    // alert(response.error.step);
                                    // alert(response.error.reason);
                                    // alert(response.error.metadata.order_id);
                                    // alert(response.error.metadata.payment_id);
                           
                            rzp1.open();

                        } else {
                            Swal.fire({
                                title: 'Error Occured',
                                text: "Can't process order error occured",
                                icon: 'fail',
                                timer: 5000
                            })
                            location.href = '/cart';
                        }
                    },
                });
            }
        }


        

        function verifyPayment(response,order) {
            let payment = response
            $.ajax({
                url: '/verifyPayment',
                method: 'post',
                data: {
                    response,
                    order,
                    orderId:null,

                }, success: (response) => {
                    if (response.success) {
                        // $.ajax({
                        //     url: '/paymentConfirm',
                        //     method: 'post',
                        //     data: {
                        //         status: "Confirmed",
                        //         order,
                        //         payment
                        //     },
                        //     success: (response) => {
                        //     }
                        // })
                        Swal.fire({
                            title: "Order success",
                            text: "order placed successfully",
                            icon: "success",
                            showCancelButton: true,
                            confirmButtonText: "view orders",
                            cancelButtonText: "continue shopping",
                            reverseButtons: true
                        }).then(function (result) {
                            if (result.value) {
                                console.log("paid ");
                                var orderDetailsUrl = `/orderDetails?id=${orderId}`;
                                location.href = orderDetailsUrl;
                            } else if (result.dismiss === "cancel") {
                                console.log("failed");

                               window.location.reload();
                            }
                        });
                    }else{
                        Swal.fire({
                            title: "Order success",
                            text:response.message,
                            icon: "success",
                            showCancelButton: true,
                            confirmButtonText: "view orders",
                            cancelButtonText: "continue shopping",
                            reverseButtons: true
                        }).then(function (result) {
                            if (result.value) {
                                console.log("paid ");
                                var orderDetailsUrl = `/orderDetails?id=${response.orderId}`;
                                location.href = orderDetailsUrl;
                            } else if (result.dismiss === "cancel") {
                                console.log("failed");

                               window.location.reload();
                            }
                        });
                    }

                },
                error: (error) => {
                    console.log(error);
                    Swal.fire({
                        title: 'Error',
                        text: error,
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            })
        }

        // function showCouponDetails(couponName) {
        //     Swal.fire({
        //         title: 'Coupon Details',
        //         text: `${couponName}`,
        //         icon: 'info',
        //         confirmButtonText: 'OK'
        //     }).then((result) => {
        //         if (result.isConfirmed) {
        //             copyToClipboard(couponName);
        //         }
        //     });
        // }

        // function copyToClipboard(text) {
        //     var tempInput = document.createElement('input');
        //     document.body.appendChild(tempInput);
        //     tempInput.value = text;

        //     tempInput.select();
        //     document.execCommand('copy');

        //     document.body.removeChild(tempInput);

        //     Swal.fire({
        //         title: 'Copied!',
        //         text: 'Coupon name has been copied to the clipboard.',
        //         icon: 'success',
        //         confirmButtonText: 'OK'
        //     });
        // }

        let discount = 0;



        const applyCoupon = async (totalAmount) => {
            const couponName = document.getElementById("inputCoupon").value.trim();
            if (!couponName) {
                Swal.fire({ icon: 'error', title: 'Error', text: 'Please enter a coupon code.' });
                return;
            }

            try {
                const response = await fetch('/applyCoupon', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ coupon: couponName, total: totalAmount }),
                });

                const data = await response.json();
                if (data.success) {
                    Swal.fire({ icon: 'success', title: 'Success', text: `Coupon Discount ${data.offerPrice} Applied` });
                    document.getElementById("totalValue").innerText = `₹${data.gt}`;
                    document.getElementById("discount").innerText = data.offerPrice;
                    document.getElementById("inputCoupon").value = "";
                    discount = data.offerPrice;
                } else {
                    Swal.fire({ icon: 'error', title: 'Error', text: data.message });
                }
            } catch (error) {
                console.error('Error applying coupon:', error);
                Swal.fire({ icon: 'error', title: 'Error', text: 'Failed to apply coupon.' });
            }
        };




        var usedCoupon = null;
        function useCoupon(couponName, couponId,grandTotal){
            console.log('Using coupon', couponName, couponId);
            $.ajax({
                url: '/useCoupon',
                method: 'post',
                data: {
                    couponName: couponName,
                    couponId: couponId,
                    grandTotal:grandTotal,
                }, success: function(response){
                    console.log(response)
                    if(response.success){
                        Swal.fire({
                            title: 'Coupon Used',
                            text: 'Coupon has been used successfully',
                            icon:'success',
                            timer: 5000
                        })
                        window.location.reload()

                }else{
                    Swal.fire({
                        title: 'Error',
                        text: response.message,
                        icon: 'error',
                        timer: 5000
                    })
                }
            }
            })
        }
        function removeCoupon(couponName, couponId){
            console.log('Using coupon', couponName, couponId);
            $.ajax({
                url: '/removeCoupon',
                method: 'post',
                data: {
                    couponName: couponName,
                    couponId: couponId,
                }, success: function(response){
                    if(response.success){
                        Swal.fire({
                            title: 'Coupon removed',
                            text: response.message,
                            icon:'success',
                            timer: 5000
                        })
                        window.location.reload()

                }else{
                    Swal.fire({
                        title: 'Error',
                        text: response.message,
                        icon: 'error',
                        timer: 5000
                    })
                }
            }
            })
        }
        // const useCoupon = async (couponName) => {
        //     disableOtherCoupons(couponName);
        //     copyToClipboard(couponName);
        //     document.getElementById("inputCoupon").value = couponName;
        //     document.getElementById('useButton_' + couponName).style.display = 'none';
        //     document.getElementById('cancelButton_' + couponName).style.display = 'block';
        //     usedCoupon = couponName;
        // }

        const cancelCoupon = async (couponName) => {
            enableAllCoupons();
            document.getElementById('useButton_' + couponName).style.display = 'block';
            document.getElementById('cancelButton_' + couponName).style.display = 'none';
            usedCoupon = null;
            window.location.reload();
        }
        function disableOtherCoupons(excludeCoupon) {
            var couponButtons = document.querySelectorAll('.use-button');
            couponButtons.forEach(function (button) {
                var couponName = button.id.replace('useButton_', '');
                if (couponName !== excludeCoupon) {
                    button.disabled = true;
                }
            });
        }

        function enableAllCoupons() {
            var couponButtons = document.querySelectorAll('.use-button');
            couponButtons.forEach(function (button) {
                button.disabled = false;
            });
        }
    </script>

   
    <%- include("../../views/partials/user/footer") %>