<%- include("../../views/partials/user/header") %>
    <style>
        .coupon-card {
            border: 2px solid #eaeaea;
            border-radius: 10px;
            padding: 15px;
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .coupon-name {
            font-size: 12px;
            font-weight: bold;
        }

        .use-button {
            background-color: #4caf50;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .use-button:hover {
            background-color: #45a049;
        }
    </style>

    <!-- contents of checkout page starts here -->


    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="order_review">
                        <div class="mb-20">
                            <h4>Products</h4>
                        </div>
                        <div class="table-responsive order_table text-center">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (product && Array.isArray(product) && product.length> 0) { %>
                                        <% for (let i=0; i < product.length; i++) { %>
                                            <tr>
                                                <td class="image product-thumbnail">
                                                    <img src="<%= product[i].image %>" alt="#" class="img-fluid">
                                                </td>
                                                <td>
                                                    <h5><a href="productDetails?id=<%= product[i].productId %>">
                                                        <%= product[i].name %>
                                                    </a></h5>
                                                </td>
                                                <td>
                                                    <%= product[i].quantity %>
                                                </td>
                                                <td>
                                                    <%= product[i].price * product[i].quantity %>
                                                </td>
                                                <td class="action" data-title="Remove" onclick="return false">
                                                    <button class="btn btn-sm" type="button"
                                                        onclick="return confirmRemove('<%= product[i].productId %>')">
                                                        <i class="fi-rs-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="5" class="text-center">No products found</td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row mt-10 ml-md-190">
                        <% if (locals.userAddress) { %>
                            <% userAddress.address.forEach((address)=> { %>
                                <div class="col-lg-6 mb-3">
                                    <div class="card">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio"
                                                id="addressRadio<%= address._id %>" name="selectedAddress"
                                                value="<%= address._id %>">
                                            <label class="form-check-label"
                                                for="addressRadio<%= address._id %>">Select Address</label>
                                        </div>
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                                <%= address.addressType %>
                                            </h5>
                                        </div>
                                        <div class="card-body">
                                            <address>
                                                <%= address.name %><br />
                                                <%= address.city %>,<br />
                                                <%= address.landMark %> <br />
                                                <%= address.state %>
                                            </address>
                                            <p>
                                                <%= address.pincode %>
                                            </p>
                                            <p>
                                                <%= address.phone %>
                                            </p>
                                            <p>
                                                <%= address.altPhone %>
                                            </p>
                                            <div class="d-flex justify-content-between">
                                                <a href="/editAddress?id=<%= address._id %>"
                                                    class="btn btn-sm btn-primary">Edit</a>
                                                <a href="/deleteAddress?id=<%= address._id %>" class="btn btn-sm btn-danger"
                                                    onclick="return confirm('Are you sure you want to delete this address?')">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        <% } else { %>
                            <div class="col-lg-6 mb-3">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0"></h5>
                                    </div>
                                    <div class="card-body">
                                        <address>
                                            No address
                                        </address>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <div class="col-lg-6 mb-3">
                            <a href="/addAddress">
                                <button class="btn btn-primary w-100">Add address</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-25 ml-md-150 pt-10">
                        <h5>Available Coupons</h5>
                    </div>
                    <ul>
                        <% if (Coupon) { %>
                            <% Coupon.forEach((item)=>{ %>
                                <li>
                                    <div class="coupon-card col-12">
                                        <div class="coupon-details">
                                            <span class="coupon-name">
                                                <%= item.name %>
                                            </span><br>
                                        </div>
                                        <% if((item.userId).length>0) {%>
                                            <% item.userId.forEach(element => { %>  
                                                <% if(element.toString()==(user._id).toString()){ %>
                                                    <button onclick="removeCoupon('<%= item.name %>',' <%= item._id %>')" id="useButton_<%= item.name %>" class="use-button" style="background-color: #e93838;">Remove</button>
                                                <% } %>
                                            <% }); %>
                                        <% } else { %>
                                            <button onclick="useCoupon('<%= item.name %>',' <%= item._id %>','<%=grandTotal%>')" id="useButton_<%= item.name %>" class="use-button" style="background-color: #088178;">Apply</button>
                                        <% } %>
                                        <button onclick="cancelCoupon('<%= item.name %>')" id="cancelButton_<%= item.name %>" class="cancel-button btn-danger" style="display: none;">Cancel</button>
                                    </div>
                                </li>
                            <% }) %>
                        <% } else { %>
                            <h5>No coupons available</h5>
                        <% } %>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="payment_method">
                        <div class="mb-25 ml-md-150">
                            <h5>Payment</h5>
                        </div>
                        <div class="custome-radio ml-md-150">
                            <input class="form-check-input payment" type="radio" value="cod" name="payment_option"
                                id="CashOnDelivey" checked="">
                            <label class="form-check-label" for="CashOnDelivey">Cash on Delivery</label>
                        </div>
                        <div class="custome-radio ml-md-150">
                            <input class="form-check-input payment" required="" value="razorpay" type="radio"
                                name="payment_option" id="Razorpay">
                            <label class="form-check-label" for="Razorpay">Online Payment</label>
                        </div>
                        <div class="custome-radio ml-md-150">
                            <input class="form-check-input payment" required="" value="wallet" type="radio"
                                name="payment_option" id="wallet">
                            <label class="form-check-label" for="wallet">Wallet</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="ml-md-150">
                        <table class="table mt-45">
                            <tbody>
                                <tr>
                                    <th>Shipping</th>
                                    <% if (grandTotal>1000) { %>
                                        <td colspan="2" ><em>Free Shipping</em></td>
                                    <% } else { %>
                                        <td colspan="2" class="font-xl text-brand fw-900"><em>₹50</em></td>
                                    <% } %>
                                </tr>
                                <tr>
                                    <% let shipping = grandTotal>1000?0:50  %>
                                    <% let tax = (finalAmount-shipping)*18/100 %>
                                    <% let amount = finalAmount-shipping-tax %>
                                    <th>Taxable amount</th>
                                    <td colspan="2" class="product-subtotal" >
                                        <span class="font-xl text-brand fw-900"
                                           >₹<%= amount %></span>
                                    </td>
                                    <td colspan="2" class="product-subtotal" style="display: none;" >
                                        <span class="font-xl text-brand fw-900"
                                            id="totalValue">₹<%= finalAmount-shipping %></span>
                                    </td>
                                </tr>
                                <tr>
                               
                                    <th>Tax</th>
                                    <td colspan="2" class="product-subtotal">
                                        <span class="font-xl text-brand fw-900"
                                            id="totalValue">₹<%= tax %></span>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Amount to pay</th>
                                    <td colspan="2" class="product-subtotal">
                                        <span class="font-xl text-brand fw-900"
                                            id="totalValue">₹<%= finalAmount %></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="ml-md-65">
                            <button type="button" class="btn btn-primary"
                                onclick="placeOrder('<%= user._id %>','<%= discount %>')">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
   
    <!-- script for checkout page validation and ajax request -->
    <script>
        //function for removing item from checkout
        function confirmRemove(productId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, remove it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url:  `/deleteItemCheckout?id=${productId}`,
                        method: 'get',
                        success: (response) => {
                            if (response.success) {
                                Swal.fire(
                                    'Item Removed!',
                                    response.message,
                                   'success'
                                )
                                window.location.href= response.redirectUrl;  
                            }else{
                                Swal.fire(
                                    'Error!',
                                    response.message,
                                    'error'
                                )
                                window.location.href= response.redirectUrl;
                            }
                        },
                        error: (error) => {
                            console.error(error);
                            Swal.fire({
                                title: 'Error!',
                                text: 'Failed to remove item.',
                                icon: 'error',
                            });
                        }
                    })
                }
            })
        }
        
        //function for checkout page validation, placing order and ajax request
        async function placeOrder(userId, discount) {
            let address = $("input[name='selectedAddress']:checked").val();
            let payment = $("input[name='payment_option']:checked").val();
            const sum = document.getElementById("totalValue").textContent;
            const numericValue = parseInt(sum.replace(/[^\d.]/g, ''));
            console.log("checkout details",numericValue, payment, typeof(payment), payment.length);

            if (!payment) {
                Swal.fire({
                    title: 'NO PAYMENT FOUND!',
                    text: 'Please select your Payment.',
                    icon: 'error',
                    timer: 3000,
                });
            } else if (!address) {
                Swal.fire({
                    title: 'NO ADDRESS FOUND!',
                    text: 'Please select your address.',
                    icon: 'error',
                    timer: 3000,
                });
            }
                else if(payment === "cod" && numericValue > 1000){
                    Swal.fire({
                title: 'COD Not Allowed!',
                text: 'Orders above ₹1000 are not allowed for Cash on Delivery .',
                icon: 'error',
                timer: 3000,
            });
                }
            else {
                $.ajax({
                    url: '/orderPlaced',
                    method: 'POST',
                    data: {
                        totalPrice: numericValue,
                        createdOn: new Date().getTime(),
                        date: new Date(),
                        addressId: address,
                        payment: payment,
                        discount: discount
                    },
                    success: function (response) {
                        let orderId = response.order._id
                        if (response.method === "cod") {
                            Swal.fire({
                                title: "Order success",
                                text: "order placed successfully",
                                icon: "success",
                                showCancelButton: true,
                                confirmButtonText: "view orders",
                                cancelButtonText: "continue shopping",
                                reverseButtons: true
                            }).then(function (result) {
                                if (result.value) {
                                    let orderId = response.order._id
                                    location.href = `/orderDetails?id=${orderId}`;
                                } else if (result.dismiss === "cancel") {
                                    location.href = '/'
                                }
                            });
                        }else if (response.method === "wallet") {
                            if (response.payment === true) {
                                Swal.fire({
                                    title: "Order success",
                                    text: "order placed successfully",
                                    icon: "success",
                                    showCancelButton: true,
                                    confirmButtonText: "view orders",
                                    cancelButtonText: "continue shopping",
                                    reverseButtons: true
                                }).then(function (result) {
                                    if (result.value) {
                                        let orderId = response.order._id
                                        location.href = `/orderDetails?id=${orderId}`;
                                    } else {
                                        location.href = `/`;
                                    }
                                });
                            } else {
                                Swal.fire({
                                    title: "Order Success",
                                    text: response.message,
                                    icon: "error",
                                    showConfirmButton: true,
                                }).then(function (result) {
                                    if (result.value) {
                                        location.href = '/';
                                    }
                                });
                            }
                        }
                        else if (response.method === "razorpay") {
                            console.log("response", response);
                            let orderAmount = response.order.finalAmount;
                            let order = response.orderId;
                            let orderDbId = response.order._id
                            var options = {
                                "key": "rzp_test_2ntRCkhdtoc7jm",
                                "amount": orderAmount,
                                "currency": "INR",
                                "name": "GentzGallery",
                                "description": "Test Transaction",
                                "order_id": response.orderId,
                                "handler": function (response){
                                    verifyPayment(response,order);
                                },
                                "prefill": {
                                    "name": response.user.name,
                                    "email": response.user.email,
                                    "contact": response.user.phone
                                },
                                "theme": {
                                    "color": "#5CFF9A"
                                }
                            }
                            var rzp1 = new Razorpay(options);
                            rzp1.on('payment.failed', function (response){
                                Swal.fire({
                                     title: 'Payment Failed!'+ response.error.code,
                                     text: response.error.description,
                                     icon: 'error',
                                     timer: 5000,
                                     showConfirmButton: true
                                     });
                                     location.href=`/orderDetails?id=${orderDbId}`;
                                })
                            rzp1.open();

                        } else {
                            Swal.fire({
                                title: 'Error Occured',
                                text: "Can't process order error occured",
                                icon: 'fail',
                                timer: 5000
                            })
                            location.href =`/orderDetails?id=${orderDbId}`;
                        }
                    },
                });
            }
        }

        //function for verifing paayment
        function verifyPayment(response,order) {
            let payment = response
            $.ajax({
                url: '/verifyPayment',
                method: 'post',
                data: {
                    response,
                    order,
                    orderId:null,
                }, success: (response) => {
                    if (response.success) {
                        console.log("Response", response)
                        Swal.fire({
                            title: "Order success",
                            text: "order placed successfully",
                            icon: "success",
                            showCancelButton: true,
                            confirmButtonText: "view orders",
                            cancelButtonText: "continue shopping",
                            reverseButtons: true
                        }).then(function (result) {
                            if (result.value) {
                                console.log("paid ");
                                var orderDetailsUrl = `/orderDetails?id=${response.orderId}`;
                                location.href = orderDetailsUrl;
                            } else if (result.dismiss === "cancel") {
                                console.log("failed");
                               window.location.href = `/orderDetails?id=${response.orderId}`
                            }
                        });
                    }else{
                        Swal.fire({
                            title: "Order success",
                            text:response.message,
                            icon: "success",
                            showCancelButton: true,
                            confirmButtonText: "view orders",
                            cancelButtonText: "continue shopping",
                            reverseButtons: true
                        }).then(function (result) {
                            if (result.value) {
                                console.log("paid ");
                                var orderDetailsUrl = `/orderDetails?id=${response.orderId}`;
                                location.href = orderDetailsUrl;
                            } else if (result.dismiss === "cancel") {
                                console.log("failed",response);
                               window.location.href = `/`
                            }
                        });
                    }
                },
                error: (error) => {
                    console.log(error);
                    Swal.fire({
                        title: 'Error',
                        text: error,
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            })
        }

        let discount = 0;
        var usedCoupon = null;

        //function for using coupon
        function useCoupon(couponName, couponId,grandTotal){
            console.log('Using coupon', couponName, couponId);
            $.ajax({
                url: '/useCoupon',
                method: 'post',
                data: {
                    couponName: couponName,
                    couponId: couponId,
                    grandTotal:grandTotal,
                }, success: function(response){
                    console.log(response)
                    if(response.success){
                        Swal.fire({
                            title: 'Coupon Used',
                            text: 'Coupon has been used successfully',
                            showConfirmButton:false,
                            icon:'success',
                            timer: 5000
                        })
                        window.location.reload()
                    }else{
                        Swal.fire({
                            title: 'Error',
                            text: response.message,
                            icon: 'error',
                            timer: 5000
                        })
                    }
                }
            })
        }

        //function for removing coupon
        function removeCoupon(couponName, couponId){
            console.log('Using coupon', couponName, couponId);
            $.ajax({
                url: '/removeCoupon',
                method: 'post',
                data: {
                    couponName: couponName,
                    couponId: couponId,
                }, success: function(response){
                    if(response.success){
                        Swal.fire({
                            title: 'Coupon removed',
                            text: response.message,
                            icon:'success',
                            showConfirmButton:false,
                            timer: 5000
                        })
                        window.location.reload()
                    }else{
                        Swal.fire({
                            title: 'Error',
                            text: response.message,
                            icon: 'error',
                            timer: 5000
                        })
                    }
                }
            })
        }
 
    </script>
   
<%- include("../../views/partials/user/footer") %>