<%- include('../partials/user/header.ejs') %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- styling here -->
<style>
  .btn {
      display: inline-block;
      padding: 12px 20px;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      background-color: #1e918b;
      border: none;
      border-radius: 5px;
      transition: background-color 0.3s, transform 0.3s;
      cursor: pointer;
      text-align: center;
  }

  .btn:hover {
      background-color: #1e918b;
      transform: translateY(-2px);
  }

  .btn:active {
      transform: translateY(1px);
  }
  .wishlist-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 10px;
      border-radius: 50%;
      color: #fff;
      font-size: 18px;
      z-index: 10;
      transition: background-color 0.3s, color 0.3s, transform 0.3s;
  }
  .wishlist-btn:hover {
      background-color: rgba(255, 255, 255, 1);
      color: #1e918b;
      transform: translateY(-2px);
  }


  .wishlist-btn:active {
      transform: translateY(1px);
  }


  .product-img-action-wrap {
      position: relative;
  }


  .product-img {
      position: relative;
      display: block;
      overflow: hidden;
  }


  .product-cart-wrap {
      border: 1px solid #eee;
      padding: 20px;
      margin-bottom: 30px;
  }


  .product-content-wrap h6 {
      font-size: 18px;
      color: #333;
      margin-bottom: 5px;
  }


  .product-content-wrap h5 {
      font-size: 16px;
      color: #ff6b6b;
      margin-bottom: 10px;
  }


  .product-content-wrap a {
      display: inline-block;
      padding: 8px 12px;
      background-color: #ff6b6b;
      color: white;
      text-transform: uppercase;
      font-size: 14px;
      border-radius: 4px;
      text-decoration: none;
  }


  .product-content-wrap a:hover {
      background-color: #ff4c4c;
  }
</style>

    <!-- content starts here -->
    <main>
        <!--? Hero Area Start-->
        <div class="container-fluid">
            <div class="slider-area">
                <!-- Mobile Device Show Menu-->
                <div class="header-right2 d-flex align-items-center">
                    <!-- Social -->
                    
                    <!-- Search Box -->
                    <div class="search d-block d-md-none" >
                        <ul class="d-flex align-items-center">
                            <li class="mr-15">
                                <div class="nav-search search-switch">
                                    <i class="ti-search"></i>
                                </div>
                            </li>
                            <li>
                                <div class="card-stor">
                                    <img src="assets/img/gallery/card.svg" alt="">
                                    <span></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /End mobile  Menu-->

                <div class="slider-active dot-style">
                    <!-- Single -->
                    <div class="single-slider slider-bg1 hero-overly slider-height d-flex align-items-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-xl-8 col-lg-9">
                                    <!-- Hero Caption -->
                                    <div class="hero__caption">
                                        <h1>fashion<br>changing<br>always</h1>
                                        <a href="/shop" class="btn" style="background-color: #088178;">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single -->
                    <div class="single-slider slider-bg2 hero-overly slider-height d-flex align-items-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-xl-8 col-lg-9">
                                    <!-- Hero Caption -->
                                    <div class="hero__caption">
                                        <h1>fashion<br>changing<br>always</h1>
                                        <a href="/shop" class="btn" style="background-color: #088178;">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single -->
                    <div class="single-slider slider-bg3 hero-overly slider-height d-flex align-items-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-xl-8 col-lg-9">
                                    <!-- Hero Caption -->
                                    <div class="hero__caption">
                                        <h1>fashion<br>changing<br>always</h1>
                                        <a href="/shop" class="btn" style="background-color: #088178;">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Hero -->
        <!--? Popular Items Start -->
        <div class="popular-items pt-50">
            <div class="container-fluid">
                <div class="row">  
                    <div class="col-lg-12 col-md-6 col-sm-12">
                        <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                            <div class="popular-img">
                                <img src="/uploads/brands/1736849786662-830146210-hand-wrist-watch-business-suit-elegant-handsome-man-suit-man-suit-male-beard-mustache-black-white_293990-4461.jpg" style=" height: 50%;" alt="">
                                <div class="img-cap">
                                    <span>Watches</span>
                                </div>
                                <div class="favorit-items">
                                <a href="/shop" class="btn" style="background-color: #088178;">Shop </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <!-- Popular Items End -->
        <!--? New Arrival Start -->
        <div class="new-arrival">
            <div class="container">
                <div class="row">
                    <section class="product spad">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class="filter__controls">
                                        <li data-filter=".new-arrivals">New Arrivals</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row product__filter">
                             <% for(let i=0;i<4;i++){ %>
                                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="/productDetails?id=<%= products[i]._id %>">
                                                    <img class="default-img" src="/uploads/product-imagesResized/<%=products[i].productImage[0]%>" alt="<%=products[i].productName%>">
                                                </a>
                                            </div>
                                            <a href="#" onclick="addToWishlist('<%= products[i]._id %>')" class="wishlist-btn">
                                                <i class="fas fa-heart "></i>
                                            </a>
                                        </div>
                                <div class="product-content-wrap">
                                    <h6><%= products[i].productName %></h6>
                                    <h5>₹<%= products[i].salePrice %></h5>
                                    <form action="/addToCart" method="post">
                                            <input type="hidden" name="productId" value="<%= products[i]._id %>">
                                            <input type="hidden" name="quantity" value="1">
                                            <% if(products[i].offerPrice>0) {%>
                                            <input type="hidden" name="price" id="price" value="<%= products[i].offerPrice %>">
                                            <% }else {%>
                                            <input type="hidden" name="price" id="price" value="<%= products[i].salePrice %>">
                                            <% } %>
                                            <button type="submit" class="btn add-to-cart-btn" style="background-color: #088178;">Add to Cart</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div> 
        </div>        
        <!-- Button -->
        <div class="row justify-content-center">
            <div class="room-btn">
                <a href="/shop" class="border-btn">Browse More</a>
            </div>
        </div>
    </div>
</div>
<!--? New Arrival End -->

<!--? Services Area Start -->
<div class="categories-area section-padding40 gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="cat-icon">
                        <img src="assets/img/icon/services1.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Fast & Free Delivery</h5>
                        <p>Free delivery on all orders</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="cat-icon">
                        <img src="assets/img/icon/services2.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Fast & Free Delivery</h5>
                        <p>Free delivery on all orders</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="cat-icon">
                        <img src="assets/img/icon/services3.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Fast & Free Delivery</h5>
                        <p>Free delivery on all orders</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                    <div class="cat-icon">
                        <img src="assets/img/icon/services4.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Fast & Free Delivery</h5>
                        <p>Free delivery on all orders</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--? Services Area End -->

</section>

</main>

<!-- scrit for add to wishlist -->
<script>
    //function for add to wishlist ajax request
    function addToWishlist(productId) {
        $.ajax({
            url: '/addToWishlist?id=' + productId,
            method: 'get',
            data: { productId: productId },
            success: function(response) {
                console.log("Response from server:", response);
                if (response.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: response.message
                    });
                }else if(response.message=="Product already in wishlist"){
                    Swal.fire({
                        icon: 'success',
                        title: 'success',
                        text: response.message
                    })
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: response.message
                    })
                }
            },
            error: function(xhr, status, error) {
                console.error("AJAX error:", xhr.responseText, status, error);
                Swal.fire({
                    icon: 'error',
                    title: 'Something went wrong',
                    text: 'Please try again later.'
                });
            }
        })
    }
</script>

<%- include('../partials/user/footer.ejs') %>