<%- include("../../views/partials/user/header") %>
<main class="main">


    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> My Wishlist
            </div>
        </div>
    </div>


    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center clean">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Add to Cart</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                              
                            <% if(wishlist.length>0) {%>
                                
                                    <% wishlist.forEach((item) => { %>

                                <tr>
                                   
                                    <td class="image product-thumbnail">
                                        <img src="/uploads/product-imagesResized/<%= item.productImage[0] %>" /> 
                                    </td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name">
                                            <a href="/productDetails?id=<%= item._id %>">
                                                <%= item.productName %>
                                            </a>
                                        </h5>
                                        <p class="font-xs">
                                            <br />

                                        </p>
                                    </td>
                                    <td class="price" data-title="Price">₹<span>
                                            <%= item.salePrice %>
                                        </span></td>
                                    <td class="text-center" data-title="Add to Cart">
                                        <!-- <a href="#" onclick="return addToCart('<%= item._id %>','<%= item.salePrice %>')" class="btn btn-sm">Add to Cart</a> -->
                                         
                                        <form action="/addToCart" method="post">
                                            <input type="hidden" name="productId" value="<%= item._id %>">
                                            <input type="hidden" name="quantity" value="1">
                                            <input type="hidden" name="price" id="price" value="<%= item.salePrice %>">
                                            <button type="submit" class="btn add-to-cart-btn" style="background-color: #088178;">Add to Cart</button>
                                        </form>
                                    </td>
                                    <td class="action" data-title="Remove">
                                        <a class="btn btn-sm" href="#" onclick="confirmRemove('<%= item._id %>')">
                                            <i class="fi-rs-trash"></i>
                                        </a>
                                    </td>
                                    
                                    
                                </tr>
                               
                                <% }) %>
                            <% }else{%>
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <p class="lead mb-4">No items found in Wishlist</p>
                                    </td>
                                </tr>
                            <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function confirmRemove(productId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, remove it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: `/deleteWishlistItem?id=${productId}`,
                        method:'get',
                        success:(response)=>{
                            if(response.success){
                                Swal.fire({
                                     icon:'success',
                                     title: response.message,
                                     showConfirmButton: false,
                                     timer: 1500,
                                     })
                                     window.location.reload();
                                }else{
                                    Swal.fire({
                                        icon:'error',
                                        title: response.message,
                                        showConfirmButton: false,
                                        timer: 1500,
                                    })
                                    window.localation.reload();
                                }
                        },error:(error)=>{
                            Swal.fire({
                                icon:'error',
                                title: 'Error occurred while removing item from wishlist',
                                showConfirmButton: false,
                                timer: 1500,
                            })
                        }
                    })                   
                }
            })       
        }
</script>
<%- include("../../views/partials/user/footer") %>



